{% extends "base.html" %}

{% block title %}

    Вы можете добавить json cюда,а мы выгрузим всю информацию оттуда в google sheets

{% endblock %}

{% block content_title %}

{% endblock %}

{% block content %}
    <div class="col-md-6">
        <form id="file" action="{{ url_for('post_json_to_google_sheets') }}" method="POST">

            {% for field in form  %}
                <div class="form-group">
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}

            <div class ='form-group-title'>
                Выберите вариат записи:

            <input type="submit" class="btn btn-primary mb-2" name="submit_button" value="Перезаписать">
            <input type="submit" class="btn btn-success" name="submit_button" value="Дописать данные(названия колонок и значения)">
            <input type="submit" class="btn btn-dark" name="submit_button" value="Дописать только значения">
            <input type="submit" class="btn btn-warning" name="submit_button" value="Записать в новый лист">

            </div>
        </form>
    </div>
{% endblock %}